button {
    margin: auto;
    width: 100%;
    align-content: center;
}
#button1:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
    background-color: red;
}

#button2:hover{
    transform:scale(1.05,1.05);
    cursor: pointer;
    background-color: green;
}

div {
    margin: auto;
    width: 50%;
    align-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px, solid, white;
    margin: auto;
    width: 30%;
    align-content: center;
    background-color: whitesmoke;
}

li{
    margin-top: 10px;
    padding: 6px;
    border-radius: 15px;
}

ul {
    margin: auto;
    align-content: center;
    width: 25%;
    background-color: purple;
    padding: 10px;
    border: 3px solid rebeccapurple;
}